body {
  /*background:  #34425A;*/
  color: #666;
}

.page-header {
  margin: 20px 0;
}

/* navbar */
.navbar {
  height: 70px;
  background: white;
  /*box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);*/
  /*box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.2);*/
  /*box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);*/
}

/* overrides */
.navbar-static-top {
  border-bottom: 0;
}
.navbar-fixed-top .navbar-collapse {
  max-height: none !important;
}

/* toggle button */
.navbar-default .navbar-toggle {
  border: 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover {
  background-color: #42D5BC;
}
.navbar-default .navbar-toggle:focus {
  background-color: #42D5BC;
}

/* vertical center navbar links */
.navbar-top-links li a {
  height: 70px;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.6rem;
}

@media (max-width: 767px) {
  .navbar {
    min-height: 70px;
    background: #22baa0;
    height: auto;
  }
  .navbar-top-links {
    background: white;
    height: 70px;
  }
  .navbar-header {
    height: 70px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  .logo-box {
    width: 100% !important;
  }
  .navbar-toggle {
    z-index: 1;
  }
  .table-wrapper {
    display: table;
    width: 100%;
  }
}

.logo-box {
  display: inline-block;
  vertical-align: middle;
  background: #22baa0;
  margin: 0;
  height: 70px;
  width: 180px;
  line-height: 70px;
  text-align: center;
  color: white;
  font-size: 3rem;
  overflow: hidden;
}

@media (max-width: 767px) {
  .logo-box {
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* sidebar */
.sidebar {
  position: relative; /* for the absolute ul inside it */
  min-height: 100vh; /* streeechh */
  background: #34425A;
  /*box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);*/
}

.sidebar ul {
  position: absolute;
  width: 180px;
  /*
    hack in order to display the scrollbars if the page height is too small,
    originally intented for fixed elements.
   */
  top: 0;
  bottom: 70px;
  overflow-y: auto;
}

.sidebar li {
  border: 0 !important;
}

.sidebar li a {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #899dc1;
  background: #34425A !important;
  transition: color 0.35s, background 0.35s ease;
  font-size: 2rem;
}

.sidebar li p {
  margin-bottom: 0;
}

.sidebar li a:hover {
  background: #2b384e !important;
  color: white !important;
  transition: color 0.35s, background 0.35s ease;
}

.sidebar li a.active {
  background: #2b384e !important;
  color: white;
}

/* margin correction */
@media (min-width: 768px) {
  .sidebar {
    margin-top: 70px;
    width: 180px;
  }
}

/* change style */
@media (max-width: 767px) {
  .sidebar {
    min-height: initial !important;
    background: white;
  }
  .sidebar ul {
    border-top: 1px solid #e7e7e7 !important;
    position: static;
    width: auto;
    overflow-y: auto;
  }
  /* remove the default border */
  .sidebar-nav {
    border-top: 0 !important;
    background: white !important;
  }
  .sidebar li {
    float: left;
    width: 25%;
  }
  .sidebar li a {
    background: white !important;
    color: #34425A !important;
    font-size: 1.5rem;
    transition: none;
  }
  .sidebar li a.active {
    background: #eee !important;
    color: #34425A !important;
  }
  .sidebar li a:hover {
    background: #eee !important;
    color: #34425A !important;
  }
  .navbar-collapse {
    height: 0;
    visibility: hidden;
    display: block;
    overflow: hidden;
    transition: height 0.35s;
  }
  .navbar-collapse.slidedown {
    height: 116px;
    visibility: visible;
    transition: height 0.35s;
  }
}

#side-menu .navbar-toggle {
  margin: 0;
  float: none;
}

/* main content */
#page-wrapper {
  min-height: 100vh !important; /* streeechh */
  background: #F9F9F9;
  padding-top: 70px;
  border-left: 0;
}
@media (min-width: 768px) {
  #page-wrapper {
    margin: 0 0 0 180px;
  }
}
@media (max-width: 767px) {
  #page-wrapper {
    padding-top: 120px;
    transition: all 0.35s;
  }

  #page-wrapper.slidedown {
    padding-top: 235px;
    transition: all 0.35s;
  }
}

.page-header {
  border: 0;
}

.jumbotron {
  background: white;
  /*border: 2px solid #f1f1f1;*/
  /*box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

#page-wrapper .table {
  margin-bottom: 0;
}

#page-wrapper .table td {
  vertical-align: middle;
}

.statusIndicator {
  background: #15CD72;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#page-wrapper .panel {
  border-radius: 0;
}

#page-wrapper .panel-heading {
  background: white;
}

#page-wrapper .nav-pills {
  font-size: 2rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  border-radius: 0;
}

#page-wrapper .nav-pills>li>a {
  border-radius: 0;
}

.breadcrumb {
  margin: 20px 0 0 0;
  background: white;
}

@media (max-width: 767px) {
  .breadcrumb {
    margin-top: 40px;
  }
}
